.blog-card:hover{
 background-color: aliceblue;
 transform: 'scale(1.05)'
}

.truncate {
    white-space: nowrap; 
    width: 600px; 
    overflow: hidden;
    text-overflow: ellipsis;
  }

.title{
  cursor: pointer;
}